@charset "utf-8";

nav ul {
    /* background-color: rgb(100, 230, 232); */
    padding: 10px;
    display: flex;
    gap: 30px; 
    flex-wrap: wrap;
    list-style-type: none;
}

p{
    color:black;
}

nav a {
    /* background-color: rgb(74, 167, 201); */
    color: white;
    display: flex;
    padding: 0;
    text-decoration: none;
    /* border-radius: 10px; */
    font-weight: bold;
    border:0;
}
/* nav a:hover{
    background-color: rgb(57, 120, 152);
    transform: scale(1.06);
} */
body{
    /* background: linear-gradient(to left, rgb(73, 108, 160), rgb(51, 99, 163)); */
    background-color: rgb(230, 233, 236);
    padding: 20px;
    margin:0;
    font-family: 'Segoe UI', sans-serif;
   
    
}
.h1{
  left:-20px;
}
/* h1{
    top: 5px;
    bottom: 5px;
    text-align: left;
    text-transform: capitalize;
    text-decoration:wavy;
    text-align: center;
    background-color: rgb(88, 147, 215);
        rgb(57, 120, 152);
    height: 30px;
    padding: 4px 5px;
    border:0;
} */

/* nav a:active{
    background-color: blue;
}
nav a:visited{
    background-color: rgb(17, 153, 165);
} */
button{
    text-decoration: none;
    background: linear-gradient(to left, rgb(73, 108, 160), rgb(51, 99, 163));
    position: fixed;
    bottom: 20px;
    right: 10px;
}
.topbar{
    display: flex;
    flex-direction: row;
    gap:66px;
    background-color: rgb(141, 169, 204);
    color:black;
    padding:15px;
    justify-content: center;
  align-items: center;
}
*{
  margin:0;
  padding:0;
  /* box-sizing: border-box; */
  margin-left:-5px;
  margin-right:-5px;
}
.labdd{
  background-color:  rgb(141, 169, 204);
  color: solid black
}
.labdd:hover{
  transform:scale(1.3);
}
.sublist{
  list-style: none;
  display: flex;
  flex-direction: row;
  gap:75px;
  color: rgb(56, 54, 54);
  margin-top:20px;
}
.sub a{
  text-decoration: none;
  color: rgb(7, 7, 7);
  
}
.sub:hover{
  border:0;
  border-bottom: 2px solid rgb(11, 10, 10);
  transform: scale(1.04);
}
h2{
    display: block;
    background: linear-gradient(to left, rgb(73, 108, 160), rgb(51, 99, 163));
    width:300px;
    height: 30px;
    padding: 2px 7px;
    
}

.book-img {
    width: 200px;
    height: 250px;
    border-radius: 5px;
   transition: transform 0.2s ease;
    margin:20px;
}

.book-img:hover {
    transform: scale(1.17);
}

h3{
display: block;
height: 30px ;
border-radius: 10px;
/* background-color:rgb(100, 230, 232) ; */
 background: linear-gradient(to left, rgb(73, 108, 160), rgb(51, 99, 163));
padding: 4px 7px;
width: 400px;
}

.cat{
   width: 200px;
    height: 300px;
    border-radius: 5px;
   transition: transform 0.2s ease;
}
.cat a {
    background-color: #214376;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}
.cat:hover{
    transform: scale(1.05);
}

.course{
    width:600px;
    align-content: center ;
}

.syl{
    width:700px;
}

.bookie{
    display: flex;
    grid-column: 30px;
    flex-wrap: wrap;
    gap: 30px;
    width: 800px;
    height: 100px;
    border-radius: 5px;
   transition: transform 0.2s ease;
   justify-content: center;
margin:20px;
}

.bookie:hover {
    transform: scale(1.17);
}

.vase{
width: 200px;
    border-radius: 5px;
   transition: transform 0.2s ease;
    position: fixed;
    bottom: 20px;
    right: 5px;
}

.vase a{
     background-color: #214376;
    color: white;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.vase a:hover{
    transform: scale(1.07);
}


.cool{
  
   display: flex;
    grid-column: 30px;
    flex-wrap: wrap;
    gap: 30px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
   transition: transform 0.2s ease;
   justify-content: center;
}

.cool:hover{
    transform: scale(1.07)
}

/* h1 {
  color: #004488;
  text-align: center;
} */
/* a {
  color: #d8dbde;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: rgb(41, 181, 181);
} */
img[alt="visitor count"] {
  margin-top: 10px;
  filter: drop-shadow(0 0 5px #999);
 width: 200px;
    height: 100px;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 30px;
  max-width: 1500px;
  margin: 0 auto;
}

.card {
  background: rgb(223, 220, 214);
  border:3px solid  rgb(51, 99, 163);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
   max-width: 1000px;
  margin: 0 auto;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.12);
}

.card h3 a {
  text-decoration: none;
  color: #e5e7ea;
  font-weight: bold;
}

.card p {
  color: #444;
  font-size: 0.95rem;
  margin-top: 8px;
}


.last{
 width:800px;
    align-content: center ;
    max-width: 1000px;
  margin: 0 auto;
}

.last:hover{
transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.12);
}
@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}
